---
import Section from "./Section.astro";
import Container from "./Container.astro";
import { Image, Picture } from "astro:assets";

const data = await Astro.glob("../content/contacts/contacts.md");
const contacts = data[0].frontmatter;
---

<Section id={"contacts"} className={"bg-black pt-24"}>
  <Container>
    <div class="flex grid-cols-2 flex-col-reverse gap-20 px-4 md:grid">
      <div>
        <Image width={840} height={1600} alt="" quality={'mid'} format="webp" src={contacts.image} />
      </div>
      <div
        class="col-span-1 flex w-full flex-col items-center justify-center gap-14"
      >
        <div class="flex w-full flex-col gap-10">
          <h2 class="akrobat text-4xl font-extrabold">
            {contacts.addressTitle}
          </h2>
          <p class="text-2xl">{contacts.address}</p>
        </div>
        <div class="flex w-full flex-col gap-10">
          <h2 class="akrobat text-4xl font-extrabold">
            {contacts.contactsTitle}
          </h2>
          <p class="text-2xl">
            Телефон: <span class="whitespace-nowrap"><a href=`tel:${contacts.phone}`>{contacts.phone}</a></span>
          </p>
        </div>

        <div class="flex w-full flex-col gap-10">
          <a target="_blank" href={contacts.vk}
            ><h2
              class="akrobat cursor-pointer text-4xl font-extrabold hover:text-secondary"
            >
              VK
            </h2>
          </a>
        </div>
      </div>
    </div>
  </Container>
</Section>

<style>
  .akrobat {
    font-family: Akrobat, Arial, Helvetica, sans-serif;
  }
</style>
