---
import data from "../data/services.json";
import ButtonLink from "./ButtonLink.astro";
import Container from "./Container.astro";
import Section from "./Section.astro";
import ServiceCard from "./ServiceCard.astro";
---

<Section  className="py-24" >
  <Container className={"flex-col gap-24 p-4 lg:px-24"}>
    <h2 class="akrobat w-full text-left text-4xl text-black">{data.title}</h2>

    <div class="flex grid-cols-2 flex-col gap-16 md:grid">
      {
        data.services.map(({ image, description, duration, price }) => (
          <ServiceCard
            image={image}
            description={description}
            duration={duration}
            price={price}
          />
        ))
      }
      <div class="flex flex-col justify-end gap-12">
        <div class="text-black text-2xl ">
          {data.promo}
        </div>
        <ButtonLink title={data.buttonLable} url={data.href} />
      </div>
    </div>
    <div id="actions"></div>
  </Container>

  <style>
    .akrobat {
      font-family: Akrobat, Arial, Helvetica, sans-serif;
    }
  </style>
</Section>
